body{
    background-color: rgb(10,13,13);
}

.ser-t span{
    background-color: rgb(10,13,13);
}
.title{
    color:white;
}
.spec h3{
    color:rgb(216, 216, 216);
}
.gen h3{
    color:rgb(216, 216, 216);
}
#update{
    color:rgb(216, 216, 216);
}
#darkname{
    color:rgb(216, 216, 216);
}

.resp-tabs-container{
    background-color: rgb(10,13,13); 
}

.footer {
    background-color: rgb(7, 8, 8);
  
}